@media only screen and (max-width: 600px) {
    /* Kiểu CSS cho các thiết bị có chiều rộng tối đa 600px */
    body {
        background-color: lightblue;
    }

body {
    font-family: Arial, san-serif;
    margin: 100px 50px 50px 50px;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
}

h1 {
    color: rgb(16, 58, 113);
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: rgb(16, 58, 113);
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin: 10px 0;
}
