* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fa; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-center {
    flex: 1;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 5px; 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
    position: relative;
}
nav a {
    text-decoration: none;
    color: rgb(16,58,113); 
    padding: 10px;
}

nav .nav-right a {
    font-size: 18px; 
}
nav .nav-right a:hover, nav .nav-right a:active
{
    color: rgb(180,160,109);
}
button {
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(16,58,113);
    color:white ;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: rgb(180,160,109);
}/*nó sẽ ảnh hưởng đến style của button thêm vào giỏ hàng*/

/* CSS cho dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.dropdown-content a {
    color: rgb(16,58,113);
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-content a:hover {
    background-color:#f8f9fa;
}

/*CSS cho banner*/
#banner {
    width: 100%;
    max-width: 100vw;
    margin: 60px 0 20px 0;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

#banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    max-height: 100vh; 
    object-fit: cover; 
}

/*CSS cho khuyen mai*/
#sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px;
    margin-top: 5px;
}
#sale a{
    width: calc(40%);
    margin: 20px 10px;
}
#sale a img {
    width: 100%;
    border-radius: 8px;
    
}
/*CSS cho product card*/
h2{
    text-align: center;
    padding: 20px 0 10px;
    color: rgb(16,58,113);
    font-size: 25px;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 0; 
    justify-items: center; 
    margin: 20px 80px;
    z-index: 1;
}
.pro {
    border: 1px solid #ddd;
    margin:5px;
    padding: 5px;
    text-align: center;
    position: relative;
    background-color: #f8f9fa;
    min-width: 200px;
    max-width: 200px; 
    width: 100%;
    font-size: 14px; 
    line-height: 1.2em;
}
  
  .pro img {
    max-width: 100%;
    vertical-align: top;
    height: 200px;
  }
  
  .pro figcaption {
    padding: 10px;
  }
  
  .pro h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 4px;
  }
  
  .pro .price {
    margin: 8px 0;
    font-weight: 700;
    color: rgb(16,58,113);
    font-size: 1.2rem;
  }
  .pro:hover{
    border-color: rgb(16,58,113);
  }
.pro a {
    text-decoration: none;
    color: black;
}
.pro a:hover {
    color: rgb(16,58,113) ;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    text-align: center;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.5);; /* Màu nền của hình tròn */
    color: #fff; /* Màu của dấu &times; */
    width: 25px; /* Chiều rộng của hình tròn */
    height: 25px; /* Chiều cao của hình tròn */
    border-radius: 50%; /* Tạo hình tròn */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Loại bỏ viền nếu có */
    transition: background-color 0.3s, transform 0.3s; /* Thêm chuyển tiếp cho hover */
}

.close-btn:hover {
    background-color: #c00; /* Màu nền khi hover */
    transform: scale(1.1); /* Tăng kích thước nhẹ khi hover */
}

